<div class="container my-5">
  <h1 class="mb-3">Add New Employee</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="addEmployee()">
        <div class="form-group">
          <label for="employeeName">EMPLOYEE NAME</label>
          <input type="text" class="form-control" id="employeeName" placeholder="EMPLOYEE NAME" name="name" [(ngModel)]="addNewEmployee.name">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
